*{
    margin: auto;
    padding: 0;
}
body{
    height: 100vh;
    width: 100vw;    
    overflow-x: hidden;
}
table{
    margin-top: 2%;
    height: fit-content;
    width: 85%;
    border-spacing: 0;
    font-size: large;
    border-bottom:1px solid black;
    padding: 5px;
    border-radius: 2px;
    
}
td{
    padding-top: 5px;
    padding-bottom: 5px;
}
tr{
    
    text-align: center;
}
tr:nth-child(odd){
    background-color: rgb(223, 223, 223);
}
tr:last-child{
    background-color: white;
    
    td:nth-child(1){
        text-align: end;
        font-size: large;
    }
    td:nth-child(2){
        text-align: end;
        font-size: large;
    }
}
input[type=submit]{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
    background: none;
    border: none;
    text-decoration: underline;
    font-size: 18px;
        
}
input[type=submit]:hover{
    cursor: pointer;
    color: green;
}
tr:nth-child(1){
    text-align: center;
    color: white ;
    background-color: rgb(141, 141, 141);
}
td:nth-child(5){
    width: 20%;
}

a:hover{
    color: red;
}

td:nth-child(4){
    
    input[type=submit]{
        
        
        border-radius: 10px;
        
    }
    input[type=submit]:hover{
        color: red;
        background-color: rgb(223, 223, 223);
        border-radius: 10px;
        
    }
}
td:nth-child(3){
    
    input[type=submit]{
        
        border-radius: 10px;
        
    }
    input[type=submit]:hover{
        color: green;
        background-color: rgb(223, 223, 223);
        border-radius: 10px;
        
    }
}
tr:nth-child(2){
    background-color: rgb(141, 141, 141);
    text-decoration: 2px underline;
    color: white ;
    font-weight: lighter;
}
h1{
    padding-left: 7%;
    padding-top: 2%;
    text-decoration: underline;
}
img{
    padding: 10px;
    width: 100px;
    height: 100px;            
    border-radius: 20px;
    overflow-y: hidden;
}